@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*-----------
 Common and all css starts
--------- */
body {
    font-family: 'Poppins', sans-serif;
}

/* main style starts-------------- */
/* banner styles------------------------------ */
.container-1 {
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.banner {
    display: flex;

}

.intro {
    width: 60%;
    height: 40%;
    margin-left: 80px;
    margin-top: 8%;
    margin-bottom: 6%;
}

.intro h1 {
    color: aliceblue;
    font-size: 50px;
}

.intro p {
    color: aliceblue;
    font-size: 20px;
}

.intro a {
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(orange, tomato);
}

/* intro hover style ---------- */
.intro a:hover {
    text-decoration: underline;
    color: bisque;
    background-image: linear-gradient(rgba(255, 166, 0, 0.845), rgba(255, 0, 0, 0.906));
}

/* banner Image styles--------------------- */
.image {
    width: 50%;
    margin-left: 100px;
    margin-top: 15%;
}

/* section-1  styles end ------------------------------------ */

/* section-2 styles starts---------------------------- */