@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*-----------
 Common and all css starts
--------- */


body {
    font-family: 'Poppins', sans-serif;
}

/* main style starts-------------- */


/* banner styles------------------------------ */
.container {
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;


}

.banner {
    display: flex;
    align-items: flex-end;

}

.intro {
    width: 60%;
    height: 40%;
    margin-left: 80px;
    margin-top: 8%;
    margin-bottom: 6%;
}

.intro h1 {
    color: aliceblue;
    font-size: 50px;
}

.intro p {
    color: aliceblue;
    font-size: 20px;
}

.intro a {
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(orange, tomato);
}

/* intro hover style ---------- */
.intro a:hover {
    text-decoration: underline;
    color: bisque;
    background-image: linear-gradient(rgba(255, 166, 0, 0.845), rgba(255, 0, 0, 0.906));
}

/* banner Image styles--------------------- */
.image {
    width: 50%;
    margin-left: 100px;
    margin-top: 15%;
}

/* section-1  styles end ------------------------------------ */

/* section-2 styles starts---------------------------- */


.box {
    margin-top: 10%;
    padding-top: 20px;
    width: 260px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
}

.first-span {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;

}

.sec-span {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;

}

.third-span {
    background-color: tomato;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;

}

/* first box link styles----------------------------- */
.container-1 {}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;

}

.parent-blog {
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 30%;
    margin-block-end: 10%;

}

.blog-image img {
    width: 80%;
}

.name {
    width: 70px;
    border: 1px solid grey;
}

.fa-comment-dots {
    padding-left: 10%;
}

/* second box styles----------------- */