@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*-----------
 Common and all css starts
--------- */


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* main style starts-------------- */


/* banner styles------------------------------ */
.container {
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;


}

.banner {
    display: flex;
    align-items: flex-end;

}

.intro {
    width: 60%;
    height: 40%;
    margin-left: 80px;
    margin-top: 8%;
    margin-bottom: 6%;
}

.intro h1 {
    color: aliceblue;
    font-size: 50px;
}

.intro p {
    color: aliceblue;
    font-size: 20px;
}

.intro a {
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(orange, tomato);
}

/* intro hover style ---------- */
.intro a:hover {
    text-decoration: underline;
    color: bisque;
    background-image: linear-gradient(rgba(255, 166, 0, 0.845), rgba(255, 0, 0, 0.906));
}

/* banner Image styles--------------------- */
.image {
    width: 50%;
    margin-left: 100px;
    margin-top: 15%;
}

/* section-1  styles end ------------------------------------ */

/* section-2 styles starts---------------------------- */
.tablet-box {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablet-box h2 {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-left: 10px;
}

#third-box {
    background-color: tomato;

}

.box {
    margin-top: 50px;
    padding-top: 20px;
    width: 260px;
    height: 200px;
    background-color: black;
    border-radius: 10px;

}

.first-span {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;

}

.first-span a {
    text-decoration: none;
    color: black;
}

.sec-span {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;

}

.third-span {
    background-color: tomato;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;

}

.first-span-2 {
    background-color: tomato;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
}

.third-span-2 {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.third-span-2 a {
    text-decoration: none;
    color: black;
}

/* first box link styles----------------------------- */
.container-1 {
    margin-top: 10%;

}

.match-section {
    display: flex;
    margin-top: 100px;
    margin-left: 5%;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



.parent-blog {
    width: 250px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 20px;
    margin-left: 20px;

}

.blog-image img {
    width: 250px;
}

.name {
    width: 70px;
    border: 1px solid grey;
}

.fa-comment-dots {
    padding-left: 10%;
}

/* second box styles----------------- */
/* webpage-2 styles------------------------------------------------ */
.match-section-2 {
    display: flex;
    margin-top: 200px;
}

.blogs-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.parent-blog-2 {
    border: 1px solid grey;
    height: 170px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;

}

/* This is optional section ----------------- */
.optional {
    visibility: hidden;
    width: 80%;
    text-align: center;
    margin-top: 5%;
    margin-left: 100px;
    border-radius: 10px;
}

h2 {
    border-radius: 10px;
    background-color: tomato;
}

/*--------------------
 third section
 -----------------------  */
.footer-sec {
    margin: 0;
}

.footer {
    margin-top: 10%;
    background-color: black;
}


.footer-name h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 30px;
}

.footer-name hr {
    width: 80%;
    color: grey;
}

.footer-info {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: white;

}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icons a {
    text-decoration: none;
    color: aliceblue;
    margin-left: 30px;



}

/* media Queary starts-------------------- */

/* For Tablet ----------- */
@media screen and (min-width:768px) and (max-width:1023px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        width: 110%;
    }

    .box {
        visibility: hidden;
    }

    .tablet-box {
        width: 120%;
        visibility: visible;
        margin-right: 20px;
        justify-content: center;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .parent-blog {
        width: 300px;
    }

    .blog-image img {
        width: 300px;
    }

    .optional {
        visibility: visible;
    }

    .footer-sec {
        width: 130%;

    }

    .footer-info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }


}

/* this responsive is for mobile --------------------------- */
@media screen and (max-width:767px) {
    .container {
        width: 150%;
    }

    .banner {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .intro h1 p a {
        margin-right: 50px;
    }

    .image {
        margin-right: 50px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        visibility: hidden;
    }

    .footer-sec {
        width: 160%;

    }

    .footer-info {
        display: flex;
        flex-direction: column;
    }
}